html {
  font-family: 'Jost', Arial, sans-serif;
}
::selection {
  background: #f9baff;
  color: #000000;
}
#name {
  font-weight: 600;
}

img, body {
  width: 556px;
}

#bottom-img {
  margin-top: 48px;
}
body {

  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  padding: 12px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}
#body-container {
  margin-top: 64px;
}

#projects-container {
  margin-top: 48px;
}

#header-img {
  width: 556px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

.italicize {
  font-style: italic;
}

@media (max-width: 768px) {
  img, body {
    width: 420px;
  }
}

@media (max-width: 400px) {
  img, body {
    width: 360px;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}